<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  Datnek
  <mat-divider></mat-divider>
  <button class="btn btn-secondary">Modal State</button>
  <mat-divider></mat-divider>
  mauger@gmail.com
</nav>
<div class="container-sm">
  <h2>Liste des langues</h2>
  <button class="btn btn-primary float-sm-right">Ajouter</button>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

      <!-- Position Column -->
      <ng-container matColumnDef="language">
        <th mat-header-cell *matHeaderCellDef> Langue</th>
        <td mat-cell *matCellDef="let element"> {{element.language}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="writing">
        <th mat-header-cell *matHeaderCellDef> Ecrit </th>
        <td mat-cell *matCellDef="let element"> {{element.writing}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="speaking">
        <th mat-header-cell *matHeaderCellDef> Parlé </th>
        <td mat-cell *matCellDef="let element"> {{element.speaking}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="comprehension">
        <th mat-header-cell *matHeaderCellDef> Compréhension </th>
        <td mat-cell *matCellDef="let element"> {{element.comprehension}} </td>
      </ng-container>
      <ng-container  matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element">
          <button class="btn btn-success">Modifier</button> |
          <button class="btn btn-warning">Détails</button> |
          <button class="btn btn-danger">Supprimer</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>
