<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <a routerLink="/pages/list-of-languages">DATNEK</a>
  <mat-divider></mat-divider>

</nav>

<div class="container-md">
  <div class="col-md-12 offset-sm-2">
    <form [formGroup]="addForm" (ngSubmit)="addLanguage(addForm.value)">
      <div class="form-row">
        <div class="col-md-3 mb-3">
          <label for="language">Choisir une langue</label>
          <mat-select class="form-control" formControlName="language" id="language">
            <mat-option>-- None --</mat-option>
            <mat-option  *ngFor="let language of listLanguages" value="{{ language.Id }}">{{ language.languageName }}</mat-option>
          </mat-select>
        </div>
        <div class="col-md-3 mb-3">
          <label for="speaking">Niveau parlé <span class="text-danger">*</span></label>
          <mat-select class="form-control" formControlName="speaking" id="speaking">
            <mat-option>-- None --</mat-option>
            <mat-option  *ngFor="let s of speaking" value="{{s}}">{{ s }}</mat-option>
          </mat-select>
        </div>
      </div>

      <div class="form-row">
        <div class="col-md-3 mb-3">
          <label for="writing">Niveau écrit <span class="text-danger">*</span></label>
          <mat-select class="form-control" formControlName="writing" id="writing">
            <mat-option>-- None --</mat-option>
            <mat-option  *ngFor="let w of writing" value="{{w}}">{{ w }}</mat-option>
          </mat-select>
        </div>
        <div class="col-md-3 mb-3">
          <label for="comprehension">Niveau de compréhension <span class="text-danger">*</span></label>
          <mat-select class="form-control" formControlName="comprehension" id="comprehension">
            <mat-option>-- None --</mat-option>
            <mat-option  *ngFor="let c of comprehension" value="{{c}}">{{ c }}</mat-option>
          </mat-select>
        </div>
      </div>

      <button type="submit" [disabled]="!addForm.valid" class="btn btn-primary">Ajouter</button>
    </form>
  </div>
</div>
